.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}
 .is-hidden {
	display: none;
 }
 
 .is-invisible {
	visibility: hidden;
 }
 
 .antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }
 
 .overflow-hidden {
	overflow: hidden;
 }
 
 .remove-bottom {
	margin-bottom: 0;
 }
 
 .half-bottom {
	margin-bottom: 1.5rem !important;
 }
 
 .half-left {
	margin-left: 1.5rem !important;
 }
 
 .add-top {
	margin-top: 3rem !important;
 }
 
 .add-bottom {
	margin-bottom: 3rem !important;
 }
 
 .no-border {
	border: none;
 }
 
 .full-width {
	width: 100%;
 }
 
 .text-center {
	text-align: center;
 }
 
 .text-left {
	text-align: left;
 }
 
 .text-right {
	text-align: right;
 }
 
 .pull-left {
	float: left;
 }
 
 .pull-right {
	float: right;
 }
 
 .align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
 }