//- Footer Section Begin
footer.footer
    .container
        .row
            .col-lg-3.col-md-6.col-sm-6
                .footer__about
                    .footer__logo
                        a(href='#')
                            img(src='/img/footer-logo.png' alt='')
                    p
                        | The customer is at the heart of our unique business model, which
                        | includes design.
                    a(href='#')
                        img(src='/img/payment.png' alt='')
            .col-lg-2.offset-lg-1.col-md-3.col-sm-6
                .footer__widget
                    h6 Shopping
                    ul
                        li
                            a(href='#') Clothing Store
                        li
                            a(href='#') Trending Shoes
                        li
                            a(href='#') Accessories
                        li
                            a(href='#') Sale
            .col-lg-2.col-md-3.col-sm-6
                .footer__widget
                    h6 Shopping
                    ul
                        li
                            a(href='#') Contact Us
                        li
                            a(href='#') Payment Methods
                        li
                            a(href='#') Delivary
                        li
                            a(href='#') Return &amp; Exchanges
            .col-lg-3.offset-lg-1.col-md-6.col-sm-6
                .footer__widget
                    h6 NewLetter
                    .footer__newslatter
                        p
                            | Be the first to know about new arrivals, look books, sales &amp;
                            | promos!
                        form(action='#')
                            input(type='text' placeholder='Your email')
                            button(type='submit')
                                span.icon_mail_alt
        .row
            .col-lg-12.text-center
                .footer__copyright__text
                    p
                        | Copyright &copy;
                        script.
                            document.write(new Date().getFullYear());
                        |                 All rights reserved | This template is made with
                        i.fa.fa-heart-o(aria-hidden='true')
                        |  by
                        a(href='https://yasserblog.herokuapp.com/' target='_blank') Yasser Gmr
                    //- Footer Section End
                    //- Search Begin
                    .search-model
                        .h-100.d-flex.align-items-center.justify-content-center
                            .search-close-switch +
                            form.search-model-form
                                input#search-input(type='text' placeholder='Search here.....')
                    //- Search End
