extends base

block content
    // Breadcrumb Section Begin
    section.breadcrumb-option
        .container
            .row
                .col-lg-12
                    .breadcrumb__text
                        h4 Shop
                        .breadcrumb__links
                            a(href='./index.html') Home
                            span Shop
        // Breadcrumb Section End
        // Shop Section Begin
    section.shop.spad
    .container
        .row
            .col-lg-3
                .shop__sidebar
                    .shop__sidebar__search
                        form(action='#')
                            input(type='text' placeholder='Search...')
                            button(type='submit')
                                span.icon_search
                    .shop__sidebar__accordion
                        #accordionExample.accordion
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseOne') Categories
                                #collapseOne.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__categories
                                            ul.nice-scroll
                                                li
                                                    a(href='#') Men (20)
                                                li
                                                    a(href='#') Women (20)
                                                li
                                                    a(href='#') Bags (20)
                                                li
                                                    a(href='#') Clothing (20)
                                                li
                                                    a(href='#') Shoes (20)
                                                li
                                                    a(href='#') Accessories (20)
                                                li
                                                    a(href='#') Kids (20)
                                                li
                                                    a(href='#') Kids (20)
                                                li
                                                    a(href='#') Kids (20)
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseTwo') Branding
                                #collapseTwo.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__brand
                                            ul
                                                li
                                                    a(href='#') Louis Vuitton
                                                li
                                                    a(href='#') Chanel
                                                li
                                                    a(href='#') Hermes
                                                li
                                                    a(href='#') Gucci
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseThree') Filter Price
                                #collapseThree.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__price
                                            ul
                                                li
                                                    a(href='#') $0.00 - $50.00
                                                li
                                                    a(href='#') $50.00 - $100.00
                                                li
                                                    a(href='#') $100.00 - $150.00
                                                li
                                                    a(href='#') $150.00 - $200.00
                                                li
                                                    a(href='#') $200.00 - $250.00
                                                li
                                                    a(href='#') 250.00+
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseFour') Size
                                #collapseFour.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__size
                                            label(for='xs')
                                                | xs
                                                input#xs(type='radio')
                                            label(for='sm')
                                                | s
                                                input#sm(type='radio')
                                            label(for='md')
                                                | m
                                                input#md(type='radio')
                                            label(for='xl')
                                                | xl
                                                input#xl(type='radio')
                                            label(for='2xl')
                                                | 2xl
                                                input#2xl(type='radio')
                                            label(for='xxl')
                                                | xxl
                                                input#xxl(type='radio')
                                            label(for='3xl')
                                                | 3xl
                                                input#3xl(type='radio')
                                            label(for='4xl')
                                                | 4xl
                                                input#4xl(type='radio')
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseFive') Colors
                                #collapseFive.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__color
                                            label.c-1(for='sp-1')
                                                input#sp-1(type='radio')
                                            label.c-2(for='sp-2')
                                                input#sp-2(type='radio')
                                            label.c-3(for='sp-3')
                                                input#sp-3(type='radio')
                                            label.c-4(for='sp-4')
                                                input#sp-4(type='radio')
                                            label.c-5(for='sp-5')
                                                input#sp-5(type='radio')
                                            label.c-6(for='sp-6')
                                                input#sp-6(type='radio')
                                            label.c-7(for='sp-7')
                                                input#sp-7(type='radio')
                                            label.c-8(for='sp-8')
                                                input#sp-8(type='radio')
                                            label.c-9(for='sp-9')
                                                input#sp-9(type='radio')
                            .card
                                .card-heading
                                    a(data-toggle='collapse' data-target='#collapseSix') Tags
                                #collapseSix.collapse.show(data-parent='#accordionExample')
                                    .card-body
                                        .shop__sidebar__tags
                                            a(href='#') Product
                                            a(href='#') Bags
                                            a(href='#') Shoes
                                            a(href='#') Fashio
                                            a(href='#') Clothing
                                            a(href='#') Hats
                                            a(href='#') Accessories
            .col-lg-9
                .shop__product__option
                    .row
                        .col-lg-6.col-md-6.col-sm-6
                            .shop__product__option__left
                                p Showing 1&ndash;12 of 126 results
                        .col-lg-6.col-md-6.col-sm-6
                            .shop__product__option__right
                                p Sort by Price:
                                select
                                    option(value='') Low To High
                                    option(value='') $0 - $55
                                    option(value='') $55 - $100
                .row
                    each product in products
                          each val in [1, 2, 3, 4, 5]
                            .col-lg-4.col-md-6.col-sm-6
                                .product__item.sale
                                    //- .product__item__pic.set-bg(data-setbg=product.preview)
                                    .product__item__pic.set-bg(data-setbg=`/img/product/product-${val}.jpg`)
                                        if (product.sale)
                                            span.label Sale
                                        ul.product__hover
                                            li
                                                a(href='#')
                                                    img(src='/img/icon/heart.png' alt='')
                                            li
                                                a(href='#')
                                                    img(src='/img/icon/compare.png' alt='')
                                                    span Compare
                                            li
                                                a(href='#')
                                                    img(src='/img/icon/search.png' alt='')
                                    .product__item__text
                                        h6= product.name
                                        a.add-cart(href='#') + Add To Cart
                                        .rating
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                        h5 #{product.price} Dhs
                                        .product__color__select
                                            label(for='pc-7')
                                                input#pc-7(type='radio')
                                            label.active.black(for='pc-8')
                                                input#pc-8(type='radio')
                                            label.grey(for='pc-9')
                                                input#pc-9(type='radio')
                .row
                    .col-lg-12
                        .product__pagination
                            a.active(href='#') 1
                            a(href='#') 2
                            a(href='#') 3
                            span ...
                            a(href='#') 21
    // Shop Section End